# Знакомство с  Python

## Настройка системы для работы с Python:
---
__Windows / Linux / macOS __
- __[1. Python 3.6+](https://www.python.org/downloads/)__ - здесь скачиваем и устанавливаем сам Python (для **Windows** обязательно при установке не забываем поставить галочку **Add to PATH**).
- __[2. Anaconda 3.7+](https://www.anaconda.com/distribution/)__ - скачиваем и устанавливаем, можно даже выбрать графическую версию установки.
- __[3. PyCharm Community](https://www.jetbrains.com/pycharm/download/#section=windows)__ - скачиваем бесплатную версию **Community** либо на 1 месяц можно скачать и попробовать поработать в **Professional**.
---

In [ ]:
26*24

In [2]:
print("hello")

hello

In [3]:
x = 6

In [4]:
x

6

In [5]:
x *2

12

In [6]:
x**2

36

In [7]:
name = input("Enter your name: ")

Enter your name: Mike

In [8]:
name

'Mike'

In [9]:
print("hello, " + name)

hello, Mike

In [10]:
print("hello, ", name)

hello,  Mike

In [11]:
y = float(input("Enter a float number: "))

Enter a float number: 4

In [12]:
y

4.0

In [17]:
z = int(4.8)

In [18]:
z

4

In [19]:
s = str(input("Enter a float number: "))

Enter a float number: smth

In [20]:
s

'smth'

In [21]:
d = input("Enter the number:")

Enter the number:432

In [22]:
d

'432'

In [23]:
 x = 3

In [24]:
y = 8

In [25]:
x / y

0.375

In [26]:
x // y

0

In [27]:
y // x

2

In [28]:
y % x

2

In [29]:
x = 5

In [30]:
y % x

3

In [31]:
y ** x

32768

In [32]:
pow(y, 2)

64

In [33]:
abs(-13)

13

In [34]:
round(15.75423, 2)

15.75

In [35]:
round(15.75463, 2)

15.75

In [36]:
round(15.756 63, 2)

15.76

In [37]:
import math

In [38]:
math.e

2.718281828459045

In [62]:
from math import * #все библиотеки

In [57]:
from math import e, pi, cos

In [58]:
pi

3.141592653589793

In [59]:
round(pi,5)

3.14159

In [60]:
cos(60 * pi/180)

0.5000000000000001

In [61]:
sin(30 * pi/180)

0.49999999999999994

In [55]:
round(sin(30 * pi/180),1)

0.5

In [63]:
sqrt(16)

4.0

In [64]:
q = True

In [65]:
w = False

In [66]:
e = True

In [67]:
q and not w or e or (q and (w or e))

True

In [68]:
q and not w or (3.0 > 4 or 4 < 5 and q) or (q and (w or e))

True

In [69]:
x < y !=z

True

In [70]:
name == 'Mike'

True

In [71]:
name == 'mike'

False

In [72]:
name is 'Mike'

False

In [73]:
name is not 'Mike'

True

In [74]:
# это комментарий

In [75]:
""" 
это многострочный комментарий
и структура текста созраняется
123
"""

' \nэто многострочный комментарий\nи структура текста созраняется\n123\n'

In [76]:
if x > 5:
    print(x)

In [77]:
if x > 5:
    print(x)
else:
    print("something else")

something else

In [79]:
if x == 5:
    if name != "m":
        print(name)
    else:
        print("hello")
elif y < 3:
    print(y)
else: 
    print(z)

Mike

In [81]:
while x <= 15:
    print('x =', x)
    x += 1

x = 5
x = 6
x = 7
x = 8
x = 9
x = 10
x = 11
x = 12
x = 13
x = 14
x = 15

In [82]:
for i in range(10):
    print('i =', i)

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9

In [84]:
for i in range(5,10): # range(5,10,2) + интервал
    print('i =', i)

i = 5
i = 6
i = 7
i = 8
i = 9

In [85]:
def hello(): # создаем функцию
    str = input("Enter your name: ")
    print("hello",str)

In [86]:
hello()

Enter your name: Mike
hello Mike

In [87]:
def print10(limit):
    for i in range(limit):
        print(i)

In [88]:
print10(5)

0
1
2
3
4

In [89]:
import random

In [93]:
def randomInt():
    r = random.randint(5,10)
    print10(r)

In [96]:
randomInt()

0
1
2
3
4
5
6
7

In [97]:
def add(a, b):
    return a + b

In [98]:
add(5,7) # summ = add(5,7)

12

In [99]:
list_int = [1,5,6,8]

In [100]:
 list_int[0]

1

In [103]:
list_char = ['a', 'g','j']

In [104]:
list1 = [1, 4,'a', 'g','j']

In [105]:
list1

[1, 4, 'a', 'g', 'j']

In [106]:
list1[:-1]

[1, 4, 'a', 'g']

In [109]:
list1[1::2]

[4, 'g']

In [111]:
for ch in list1:
    print(ch)

1
4
a
g
j

In [112]:
len(list1)

5

In [113]:
max(list_int)

8

In [114]:
min(list_int)

1

In [117]:
list2 = reversed(list_int)

In [118]:
for ch in list2:
    print(ch)

8
6
5
1

In [128]:
list3 = [1,5,6,8,2]

In [130]:
#list4 = list_char.sort() # list3.sort()

In [132]:
#for ch in list4:
#    print(ch)

In [135]:
list5 = list(range(20))

In [136]:
for ch in list5:
    print(ch)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# Домашнее задание:

## Задание 1 -- описание:
Вы должны создать **Python** модуль в файле **homework1.py** этот файл мы запустим с аргументом командной строки - строкой, состоящей из цифр. 
Например, вот такой:


```
“873”
```
Чтобы получить ввод, вы в начале программы можете считать его, используя модуль стандартной библиотеки 'sys':
``` py
import sys
digit_string = sys.argv[1]
```

В переменной 'digit_string' будет содержаться строка '“873”' (ну или какая-то другая строка, сгенерированная нами, в том числе другой длины). В строке, подаваемой на вход, будут только символы, соответствующие цифрам от '0' до '9'.

В результате ваша программа должна напечатать на экран сумму цифр (для строки '“873”' сумма будет '18').

То, что полученная программа ведет себя должным образом можно проверить локально, запустив ее следующим образом:


```
python3 solution.py 873
```

В списке 'sys.argv' будут лежать аргументы командной строки, 'sys.argv[0]' - имя запущенного файла, 'sys.argv[1]' - строка, сумму цифр которой необходимо посчитать и вывести на экран

## Задание 2 -- описание:
Вы должны создать **Python** модуль в файле **homework2.py** этот файл мы запустим с аргументом командной строки - строкой, состоящей из цифр. 
Эта задачка чуть сложней предыдущей и потребует от вас размышлений. Мы будем рисовать лестницу.

На вход ваша программа будет получать количество ступенек.

``` py
import sys
num_steps = int(sys.argv[1])
```

Ваша цель напечатать на экран лесенку используя символы пробела '" "' и решетки '"#"'. Например, для входного параметра (количества ступенек) '4' лесенка должна выглядеть следующим образом:

```
   #
  ##
 ###
####
```
 
Конечно, мы будем подавать на вход вашей программе разное количество ступенек.